{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/style2.css' %}">
    <title>Cadastro Clente MajorBus</title>
    
</head>
<body>
    <header>
        <img src="{% static 'core/images/MajorBus.png' %}" alt="">
        </div>
      </header>

    <div class="box">
        <form method="POST">
            {%csrf_token%}
            <fieldset>
                <legend><b>Cadastro Cliente</b></legend>
                <br>
                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" required>
                    <label for="nome" class="labelInput">Nome completo</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="email" id="email" class="inputUser" required>
                    <label for="email" class="labelInput">Email</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="cpf" id="cpf" class="inputUser" required>
                    <label for="cpf" class="labelInput">CPF</label>
                </div>
                <p>Sexo:</p>
                <input type="radio" id="feminino" name="genero" value="F" required>
                <label for="feminino">Feminino</label>
                <br>
                <input type="radio" id="masculino" name="genero" value="M" required>
                <label for="masculino">Masculino</label>
                <br>
                <br>
                <div class="inputBox">
                    <input type="text" name="endereco" id="endereco" class="inputUser" required>
                    <label for="endereco" class="labelInput">Endereço</label>
                </div>
                <br>
                <div class="inputBox">
                    <input type="text" name="cidade" id="cidade" class="inputUser" required>
                    <label for="cidade" class="labelInput">Cidade</label>
                </div>
                <br>
                <div class="botoes">
                    <a><input id="submit2" type="button" value="Cancelar"></a>
                    <input type="submit" name="submit" id="submit">
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>